<h1>Hola Mundo</h1>

<div class="content">
  <span>ProyectoAngular1 app is running!</span>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <app-mi-hola></app-mi-hola>

      <app-tarjeta
        [titulo]="'Tarjeta 1'"
        [contenido]="'Contenido de la tarjeta 1'"
        [boton]="'Botón 1'">
      </app-tarjeta>

      <app-tarjeta
        [titulo]="'Tarjeta 2'"
        [contenido]="'Contenido de la tarjeta 2'"
        [boton]="'Botón 2'">
      </app-tarjeta>
    </div>

    <div class="col-4"></div>
    <h1>Hola Mundo</h1>

    <div class="content">
      <span>ProyectoAngular1 app is running!</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <app-otro-componente></app-otro-componente>
    </div>
  </div>
</div>