<h3 class="mt-5">Formulario de Alumnos:</h3>
<label class="form-label">Ingresa el Nombre del Alumno:</label>
<input type="text" class="form-control">
<label class="form-label">Ingresa el Apellido del Alumno:</label>
<input type="text" class="form-control">
<label class="form-label">Ingresa la Edad del Alumno:</label>
<input type="number" class="form-control">
<label class="form-label">Ingresa el Correo del Alumno:</label>
<input type="email" class="form-control">
<button class="btn btn-success mt-3">Aceptar</button>